# Automobile Evaluation Data Project

In the following project I'll use what I've learned about summarizing categorical data to analyze a sample from a popular open source dataset. This dataset contains information on the cost and physical attributes of several thousand cars. Originally, this dataset was used to train a classification model that assigned an acceptability score/category to cars based on these attributes.

The car evaluation dataset has been sourced from the UCI Machine Learning Repository and has been slightly modified for this project. Specifically, one additional field `manufacturer_country` has been simulated for illustrative purposes. You can read more about the details, features, and original uses of this dataset in research on the [UCI data description page](https://archive.ics.uci.edu/ml/datasets/car+evaluation).

## Summarizing Manufacturing Country

1. `manufacturer_country` is a _nominal categorical variable_ that indicates the country of the manufacturer of each car reviewed. Create a table of frequencies of all the cars reviewed by `manufacturer_country`. What is the modal category? Which country appears 4th most frequently? Print out your results.

In [1]:
import pandas as pd

car_eval = pd.read_csv('car_eval_dataset.csv')
car_eval

,buying_cost,maintenance_cost,doors,capacity,luggage,safety,acceptability,manufacturer_country
0,vhigh,low,4,4,small,med,unacc,China
1,vhigh,med,3,4,small,high,acc,France
2,med,high,3,2,med,high,unacc,United States
3,low,med,4,more,big,low,unacc,United States
4,low,high,2,more,med,high,acc,South Korea
...,...,...,...,...,...,...,...,...
995,low,low,3,4,big,med,good,South Korea
996,low,med,4,4,big,high,vgood,Japan
997,vhigh,vhigh,3,more,small,low,unacc,Japan
998,low,low,4,4,big,high,vgood,Germany
999,low,high,5more,4,med,med,acc,France

In [2]:
car_eval.head()

,buying_cost,maintenance_cost,doors,capacity,luggage,safety,acceptability,manufacturer_country
0,vhigh,low,4,4,small,med,unacc,China
1,vhigh,med,3,4,small,high,acc,France
2,med,high,3,2,med,high,unacc,United States
3,low,med,4,more,big,low,unacc,United States
4,low,high,2,more,med,high,acc,South Korea

In [3]:
# Which country appears 4th most frequently?
# Answer: United States

car_eval['manufacturer_country'].value_counts()

manufacturer_country
Japan            228
Germany          218
South Korea      159
United States    138
Italy             97
France            87
China             73
Name: count, dtype: int64

2. Calculate a table of proportions for countries that appear in `manufacturer_country` in the dataset. What percentage of cars were manufactured in Japan?

In [4]:
# Japan 0.228

car_eval.manufacturer_country.value_counts(normalize=True)

manufacturer_country
Japan            0.228
Germany          0.218
South Korea      0.159
United States    0.138
Italy            0.097
France           0.087
China            0.073
Name: proportion, dtype: float64

## Summarizing Buying Costs

3. `buying_cost` is a categorical variable which describes the cost of buying any car in the dataset. Print out a list of the possible values for this variable.

In [5]:
car_eval['buying_cost'].unique()

array(['vhigh', 'med', 'low', 'high'], dtype=object)

4. `buying_cost` is an _ordinal categorical variable_, which means we can create an order associated with the values in the data and perform numeric operations on the variable. Create a new list, `buying_cost_categories`, that contains the unique values in `buying_cost`, ordered from lowest to highest.

In [6]:
buying_cost_categories = ['low', 'med', 'high', 'vhigh']
buying_cost_categories

['low', 'med', 'high', 'vhigh']

5. Convert `buying_cost` to type `'category'` using the list you created in the previous exercise.

In [7]:
car_eval['buying_cost'] = pd.Categorical(car_eval['buying_cost'],
                                        buying_cost_categories,
                                        ordered=True)
car_eval['buying_cost']

0      vhigh
1      vhigh
2        med
3        low
4        low
       ...
995      low
996      low
997    vhigh
998      low
999      low
Name: buying_cost, Length: 1000, dtype: category
Categories (4, object): ['low' < 'med' < 'high' < 'vhigh']

6. Calculate the median category of the `buying_cost` variable and print the result.

In [8]:
import numpy as np

median_category_num = np.median(car_eval['buying_cost'].cat.codes)
print(median_category_num)

median_category = buying_cost_categories[int(median_category_num)]
print(median_category)

1.0
med

## Summarizing Luggage Capacity

7. `luggage` is a categorical variable in the car evaluations dataset that records the luggage capacity for each reviewed car. Calculate a table of proportions for this variable and print the result.

In [9]:
car_eval['luggage'].value_counts(normalize=True)

luggage
small    0.339
med      0.333
big      0.328
Name: proportion, dtype: float64

8. Are there any missing values in this column? Replicate the table of proportions from the previous exercise, but do not drop any missing values from the count. Print the result.

In [10]:
car_eval.luggage.value_counts(dropna=False, normalize=True)

luggage
small    0.339
med      0.333
big      0.328
Name: proportion, dtype: float64

9. Without passing `normalize = True` to `.value_counts()`, can you replicate the result you got in the previous exercises?

In [11]:
car_eval.luggage.value_counts()/car_eval.luggage.count()

luggage
small    0.339
med      0.333
big      0.328
Name: count, dtype: float64

## Summarizing Passenger Capacity

10. `doors` is a categorical variable in the car evaluations dataset that records the count of doors for each reviewed car. Find the count of cars that have 5 or more doors. You can identify cars with 5+ doors by looking for cars that have a value of `'5more'` in the `doors` column. Print your result.

In [12]:
frequency = (car_eval.doors == '5more').sum()
frequency

246

11. Find the proportion of cars that have 5+ doors and print the result.

In [13]:
# 0.246
proportion = (car_eval.doors == '5more').value_counts(normalize=True)
proportion

doors
False    0.754
True     0.246
Name: proportion, dtype: float64